aceleradev_ds/
venv/
.idea/
.gitignore
streamlit-ds/
data-science-1/requirements.txt
Modulo-5/
data-science-2/test_main.py
data-science-1/venv/
data-science-1/__pycache__/
data-science-1/.ipynb_checkpoints

