aceleradev_ds/
venv/
.idea/
streamlit-ds/
data-science-1/requirements.txt
Modulo-5/
data-science-2/test_main.py
data-science-1/venv/
data-science-1/__pycache__/
data-science-1/.pytest_cache/
data-science-1/stdout.txt
data-science-1/.ipynb_checkpoints
data-science-1/__init__.py
data-science-0/.Rhistory
data-science-0/.ipynb_checkpoints/
data-science-0/LICENSE
data-science-0/README.md
data-science-0/__pycache__/
data-science-0/black_friday.csv
data-science-0/houses_to_rent.csv
data-science-0/houses_to_rent_v2.csv
data-science-0/main.py
data-science-0/output.xml
data-science-0/requirements.txt
data-science-0/semana3.ipynb
data-science-0/stdout.txt
data-science-0/test_main.py
data-science-2/*.csv
data-science-2/__pycache__/
data-science-2/.ipynb_checkpoints/
data-science-2/output.xml
data-science-2/requirements.txt






