aceleradev_ds/
venv/
.idea/
.gitignore
streamlit-ds/
data-science-1/requirements.txt
Modulo-5/
data-science-2/test_main.py
data-science-1/venv/
data-science-1/__pycache__/
data-science-1/.pytest_cache/
data-science-1/stdout.txt
data-science-1/.ipynb_checkpoints
data-science-1/__init__.py
data-science-0/venv/
data-science-0/__pycache__/




